*{
    background-color: #f2b8c4;
    color: #9d305a;
}

.fotos{
    text-align: center;
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: block;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }