*{
    background-color: #f2b8c4;
    color: #9d305a;
}

.fotos{
    text-align: center;
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: ;
    display: block;
}